
/* load fonts */
@font-face {
  font-family: "AGNextBold";
  src: url(./fonts/AGNextBold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AGNextBlack";
  src: url(./fonts/AGNextBlack.otf);
  font-weight: 600;
  font-style: normal;
}

body{
  font-family: AGNextBlack !important;
}

/* main section */
section.first-section {
    padding: 30px 60px;
    font-weight: bold;
}
/* top bar */
.top-bar h1 {
  font-weight: bold;
  font-size: 48px;
  text-align: left;
  margin: 0;
  font-family: AGNextBold;
}
.top-bar i {
    text-align: right;
    float: right;
}
/* search section */
.search-wrapper {
    text-align: center;

}

.search-wrapper input {
    outline: none;
    border: none;
    border-bottom: 3px solid #333;
    min-width: 300px;
    font-size: 18px;
    text-align: center;
    background-color: 	#A6DEFF;

}
/* table section */
.table-section.clearfix {
    padding: 0 8%;
}
.table>thead>tr>th,
.table>tbody>tr>td{
    border: 0;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-family: AGNextBold;
  }

  .table {
      width: 96%;
      max-width: 96%;
      margin-bottom: 20px;
      border-collapse: separate;
      border-spacing: 0 1em;
      text-align: center;
      float: left;
  }



tr.shadow{
    box-shadow: 0 0 11px #adadad;
  }
  table.trash-table.table {
    width: 3%;
    text-align: left;
}
table.trash-table.table thead tr th{
  text-align: center;
}
/* count section */
.count {
    width: 100px;
    float: right;
}
.count h1{
  color: #17a522;
  font-family: AGNextBold;
}


/*team page begin*/

section.teampage-area {

  display: flex;

  height:100vh;
  width:100vw;
}

.leftpad{

  flex: 5;
}

.rightpad{

  flex:5;
}

.box-section{

  flex:8;

}

.main-box{
  width: 623px;
  border: 1px solid #adadad;
  box-shadow: 0 0 60px #adadad;
  background-color: 	#A6DEFF;
  margin: 42px 0px;

}

.main-box h1{
  padding: 0px 20px;
  color: white;
  font-weight: bold;
  font-size: 41px;
  font-family: AGNextBold;
}

.name-input-box{
  width: 623px;

  padding: 0px 15px;
  margin: 160px 0px;

  margin-bottom: 230px;
}

.icon-boxes{
  display:flex;
  padding: 10px 14px;

}

.envelope-icon{
  flex:2;
  padding : 0px 0px 0px 180px;

}

.phone-icon{
  flex:3;
  padding : 0px 10px 0px 15px;


}


.box-section hr{
  color: green;
background-color: green;
height: 5px;
margin: 0px;

}
/* team page css end */

/* application page css start*/
.application-page{
display:flex;
flex-direction: column;
height: 100vh;
width: 100vw;
}

.top-half{
  flex:1;

}

.bottom-half{
  flex:1;
  display:flex;
  flex-direction:column;
}
.top-section{

  display:flex;
  height:40px;
  width:100vw;
}

.top-section-blank{
  flex:103;

}

.shape1{
  flex:4;
    display:flex;

  justify-content: center;
  align-items: center;
  color: #A6DEFF;
}
.shape2{
  flex:5;
    display:flex;

  justify-content: center;
  align-items: center;
    color: #A6DEFF;
}

.top-section-complete hr{
  color: green;
  background-color: green;
  height: 3px;
  margin: 0px;
}

.data-box{
    display:flex;
    width: 1145px;

    margin: 85px 110px 10px 110px;

    height:200px;
}


.hr-small hr{
  padding:0px 110px 0px 110px !important;
  color: grey !important;
  background-color: grey !important;
  height: 2px;

}

.hr-small{
  padding:0px 110px 0px 110px !important;
}


.new-application-text{
  flex:8.5;

  padding:0px 0px 0px 140px;

}

.applicantion-numbers{
  flex:8.6;
  padding-left: 20px;

}
.job-list{
  flex:7.6;

}

.new-application-text h1{
  color: black;
  font-weight: bold !important;
  font-size: 42px !important;
  font-family: AGNextBold !important;

}
.applicantion-numbers h1{
  color: green;
  font-weight: bold !important;
  font-size: 135px !important;
  font-family: AGNextBold !important;

}
.table-one {
    width: 90%;
    max-width: 92%;
    border-collapse: separate;
    border-spacing: 0 .5em;
    text-align: center;

}
.table-one>tbody>tr>td{
    border: 0;
    font-size: 15px;
    font-weight: 1000;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-family: AGNextBold;
  }


  .graph-section{
    flex:4.5;

    display: flex;
    padding:0px 180px;
  }

  .blank-second{
    flex:2.5;

  }
  .arrow-symbol{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .graph-one{
    flex:1;
        background-color: green;
  }

  .graph-two{
    flex:1;
        background-color: blue;
  }

  /* application page css end*/

  /* top applicant css start */

  .top-applicants{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }


  .flex-box-one{
    flex:6.5;
    display: flex;
    flex-direction: column;
  }
  .flex-box-two{
    flex:5.6;
    display:flex;
    flex-direction: column;
  }
  .flex-box-three{
    flex:3.9;
    background-color: green;
    display:flex;
  }

  .box-one-top{
    flex:40;
  }

  .box-one-bottom{
    flex:238;

    display:flex;
  }

  .box-one-bottom-left{
    flex:6.5;
    padding:60px 0px 0px 90px
  }
  .box-one-bottom-left h1{
    font-weight: bold;
    font-size: 48px;
    font-family: AGNextBold;
  }

  .box-one-bottom-right{
    flex:21;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .line-ko-lagi{
    flex:2;
    background-color: grey;
  }

  .content-ko-lagi{
    flex:232;

  }

  .for-job-title{
    flex:609;
    background-color: #A6DEFF;
    padding-left: 30px;
  }

  .for-job-title h1{
    font-weight: bold;
    font-size: 40px;
    font-family: AGNextBold;
    color: white;

  }
  .for-company-logo{
    flex:609;
    background-color: #A6DEFF;
  }

  .for-logout{
    flex:130;
    background-color: #A6DEFF;
    padding-top: 120px;
    font-size: 15px;
    color:white;
  }

  h2.main-logo{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 462px;
    padding-top: 30px;
}
